body {
    margin: 0;
    padding: 0 auto;
    text-align: center;
    background-color: #FFFF00;
}

section {
    display: flex;
    flex-direction: column;
}

#ans-btn {
    display: flex;
    justify-content: center;
}

#ans-btn button {
    width: 200px;
    height: 80px;
    font-size: 60px;
    margin: 20px;
    background:linear-gradient(to right,red,orange,yellow,green,aqua,blue,purple);
    color: #FFa500
}

#title {
    color: #FF0000;
}

#question {
    color: #0000FF
}